<div class="row">
    <div class="col-8">
        <div class="card">
            <div class="card-header bg-warning">
                List
            </div>
            <div class="card-body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>SR.NO</th>
                            <th>Vendor Id</th>
                            <th>Vendor Name</th>
                            <th>contact No.</th>
                            <th>EmailId</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                        <tbody>
                            @for (item of vendorList(); track $index) {
                                <tr>
                                <td>{{$index+1}}</td>
                                <td>{{item.vendorId}}</td>
                                <td>{{item.vendorName}}</td>
                                <td>{{item.contactNo}}</td>
                                <td>{{item.emailId}}</td>
                                <td>
                            
                                 <button class="btn btn-success" (click)="onEdit(item)">Edit</button>            
                                <button class="btn btn-danger" (click)="onDelete(item.vendorId)">Delete</button>
                                </td>
                            </tr>
                            }
                            
                        </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card">
            <div class="card-header bg-warning">
                <b> {{newVendoreObj.vendorId==0 ? 'New Client Form':'Update Client'}}</b>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <label for=""><b>Name</b></label>
                        <input type="text" [(ngModel)]="newVendoreObj.vendorName" class="form-control">
                    </div>
                    <div class="col-6">
                        <label for=""><b>Contact No</b></label>
                        <input type="text" [(ngModel)]="newVendoreObj.contactNo" class="form-control">
                    </div>
                    <div class="col-6">
                        <label for=""><b>Email Id</b></label>
                        <input type="text" [(ngModel)]="newVendoreObj.emailId" class="form-control">
                    </div>
                </div>
                <div class="row pt-2">
                    <div class="col-6 text-center ">
                        <button class="btn btn-secondary">Reset</button>
                    </div>
                     <div class="col-6 text-center ">
                        @if (newVendoreObj.vendorId==0) {
                            <button class="btn btn-success"(click)="saveNewVendore()">Save Vendore</button>
                        }
                        @else {
                          <button class="btn btn-primary"(click)="onUpdate()">Update</button>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>